.Table{
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
}

.Table thead tr th {
    color: white;
}

.row:hover{
    background-color: #db7c26;
    color: white;
}

.par{
    background-color: #ffd957;
}

.impar{
    background-color: #ffcb7d;
}

.header{
    justify-content: center;
    align-items: center;
    display: flex;
}

.header p{
    color: white;
}

.header div{
    padding-left: 10px;
    padding-right: 10px;
}

.header div label{
    color: white;
}

.logo{
    width: 154px;
    height: 60px;
}
